@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    background: fixed center center;
    background-size: cover;
    /* background-image: linear-gradient(to bottom right, rgb(232, 255, 100), rgb(181, 116, 255)); */
    background-image: linear-gradient(to right, #3a7fd5, #6ebce2);
    /* font-size: 11px; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: sans-serif;
    /* font-family: 'Zen Loop', cursive; */
    color: #555;
}
.navbar-light{
    background: transparent !important;
}
.card{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
}
.logo{
    height: 40px;
}
.cover{
    height: 80px;
}
.cetak-cover{
    width: 100px;
}
.card-header{
    /* height: 80px; */
}
.icon{
    height:20px;
}
table{
    font-size:12px;
}
.dropdown-menu{
    font-size: 12px;
    right: 4px;
    left: auto;
}